body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgb(207, 62, 62), rgb(52, 52, 204));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: aquamarine;
    border-radius: 10px;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    -ms-border-radius: 10;
    -o-border-radius: 10;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

.currency-container{
    padding: 10px;
    display: flex;
    justify-content: space-between
    
}
.currency-container select{
    padding: 10px;
    outline: none;
}

.currency-container input{
    text-align: end;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: transparent;
}

p, h1{
    text-align: center;
    font-weight: 600;
}


